body{
    color: #E0E0E0;
    background-color: #161616;
    font-family: Inter;
    margin-top: 15px;
    margin-left: 60px;
    margin-right: 60px;
}

.Title{
    font-weight: bold;
    font-size: 20px;
}

.nav-bar{
    display: grid;
    grid-template-columns: 15fr 1fr ;
    justify-items: start;
}

.link-menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.link-menu-item{
    display: flex;
    margin-left: 3px;
    margin-right: 3px;
    width: 70px;
    justify-content: center;
}

.link-menu-item:hover{
    font-weight: bold;
    text-decoration: underline #9611D0 2px;
    cursor: pointer; 
}

.nav-bar-item{
    display: inline; 
}