body{
    color: #E0E0E0;
    background-color: #161616;
    font-family: Inter;
}

h1{
    font-size: 45px;margin-bottom: 0;
}

.title{
    font-weight: bold;
    font-size: 20px;
    margin: 0px;
}

.nav-bar{
    display: grid;
    grid-template-columns: 15fr 1fr ;
    justify-items: start;
    margin: 0 50px;
}

.link-menu{
    display: flex;
    gap: 6px;
}

.link{
    color: #E0E0E0;
    text-decoration: none;
}
.link-menu-item{
    display: flex;
    width: 70px;
    justify-content: right;
}

.link-menu-item a:hover{
    font-weight: bold;
    text-decoration: underline #9611D0 2px;
    cursor: pointer; 
}

.welcome{
    margin-bottom: 20px;
}

.page{
    max-width: 720px;
    margin:0 auto;
    padding: 24px;
}

.post-grid{
    max-width: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 25px;
    margin:0 auto;
    justify-items: center;
}

.latest-post-body{
    width: 1fr;
    height: 240px;
    margin-bottom: 40px;
    background-color: #3D3D3D;
    border-radius: 15px;
    
}

.post{
    background-color: #3D3D3D;
    width: 210px;
    height: 210px;
    border-radius: 15px;
}
