<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Josiah Essiam</title>

    <link rel="stylesheet" href="\static\styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="nav-bar">
        <div>
           <h1 class="name">Josiah Essiam</h1>
        </div>

        <div class="link-menu">
            <div class="link-menu-item">
                <a class="link" href="/">Home</a>
            </div>

            <div class="link-menu-item">
                <a class="link" href="https://github.com/jessiam06" target="_blank">GitHub</a>
            </div>

            <div class="link-menu-item">
                <a class="link" href="https://www.linkedin.com/in/josiah-essiam-0644a5284/" target="_blank">LinkedIn</a>
            </div>
        </div>
    </nav>

    <div class="page">
        <div class="head">
            <h1 class="title">{{Title}}</h1>
            <h2 class="subtitle">{{Subtitle}}</h2>

            <div class="article-metadata">
                {{date}} | {{readtime}} | {{tags}}
            </div>

            <div class="head-image">
                <img src="{{Thumbnail}}">
            </div>
        </div>
        <article class="post-content">
            {{content}}
        </article>
    </div>

</body>

